body,
* {
    font-family: "Frank Ruhl Libre", sans-serif !important;
    font-weight: 500;
}

nav {
    z-index: 9999;
}

div#collapsibleNavbar {
    position: absolute;
    z-index: 999;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 103vh;
}

.banner {
    position: relative;
    height: 80vh;
}

.banner-cover {
    display: flex;
    align-items: center;
    height: 90vh;
    position: absolute;
    top: -152px;
    width: 100%;
}

.banner .text-area {
    background: #ffffff5e;
    width: 60%;
}

.user-img {
    position: absolute;
    right: -5px;
    bottom: -10px;
    z-index: -1;
}

li.nav-item {
    padding: 17px 20px;
    width: 100%;
    text-align: center;
}

.banner.text-area {
    text-align: left;
    /* Align text to the left */
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: #6c757d;
}

.main-text {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
    color: #1a2238;
}

.typing-word {
    color: #007bff;
    font-weight: bold;
    border-right: 3px solid #007bff;
    white-space: nowrap;
    overflow: hidden;
    animation: blink-caret 0.8s steps(1) infinite;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.social-media {
    position: absolute;
    bottom: 5px;
}

.social-media li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

.social-media img {
    width: 40px;
    height: auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
}

.service img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 300px;
    right: 0;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.open .dropdown-content {
    display: block;
}


.dropdown-content img {
    width: 25px;
    height: auto;
    margin-right: 16px;
}

.my-navbar .dropdown-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.my-navbar .background-cover {
    background: rgba(255, 255, 255, 0.5) url('../images/logo.png') no-repeat center center;
    background-size: 50% auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .07;
    z-index: -1;
}

.my-navbar .dropdown-content ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
}

button.my-navbar-toggler {
    border-radius: 5px;
    border: 1px solid grey;
    background: none;
}

a.my-navbar-toggler {
    position: absolute;
    top: 45px;
}

.my-navbar-toggler img {
    width: 45px;
}

.my-navbar-toggler .navbar-toggler-icon {
    width: 2.5em;
    height: 2.5em;
}

.my-navbar .social-media {
    width: 100%;
    bottom: 0px;
}

.my-navbar .social-media img {
    width: 50px !important;
}

.my-navbar .social-media a {
    padding: 0;
}

.my-navbar .social-media a img {
    margin: 0;
}

.content-block {
    margin-top: 35px;
}

.about {
    text-align: center;
}

.about .table th {
    text-align: right;
}

.about .table td {
    text-align: left;
}

.about .point-block {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #cacaca;
    margin: 10px 10px;
}

.about .point-block img {
    width: 30px;
    margin-right: 20px;
}

.experience img {
    width: 100%;
    filter: grayscale(100%);
}

.experience img:hover {
    filter: grayscale(0%);
}

.logo-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo-row .logo-img {
    padding: 20px;
    width: 25%;
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img.user-img {
        width: 100%;
    }

    .banner .text-area {
        width: fit-content;
    }

    .experience {
        position: absolute;
        top: 200px;
    }

    .logo-row .logo-img {
        padding: 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}